﻿@{
    ViewBag.Title = "Manage Categories";
}

<div>
    <br />
    <label>Categories</label><br />
    <div id="CategoriesGrid"></div>
</div>

<div id="confirmationWindow"><span id="confirmationWindowText"></span></div> 
<div id="uploaderImagePreviewWindow"><div id="imagePreview" style="text-align: center; vertical-align: central;"></div></div>
<div id='spinner' style='display:none'><img src='/Images/loading.gif' class="ajax-loader" alt='Processing...' /></div>   

@section scripts {
    @Scripts.Render("~/bundles/layoutscripts")

    <script>
        $(document).ready(function () {
            Category.init();
        });
    </script>
}