﻿@{
    ViewBag.Title = "Home Page";
}

<h3>Topic</h3> 
<h5>Create a small web‐based expense application that permits a user to submit an expense item using a form, and view previously submitted expense items in a grid.</h5>
<p>Technology Requirements</p>
    <ul>
    <li>Visual Studio .NET 2008 or 2010</li>
	<li>.NET 2.0 or higher </li>
	<li>C# </li>
	<li>SQL Server 2005, 2008 or Express edition </li>
	<li>CSS </li>
    <li>ASP.NET MVC </li>
    </ul>
<h5>Feature User Stories</h5>
<p>#1: As a user I want to create new expense items so that I can get reimbursed. </p>
<p><strong>The following fields are required: </strong></p>
    <ul>
    <li>Date = String; M/D/Y format</li>
	<li>Description = String; any length is fine </li>
	<li>Category = String; any length is fine </li>
    <li>Amount = Numeric; allow cents </li>
        </ul>

    Category is a user‐defined name for the category of the expense item (i.e., Hardware, Software, etc) 
When an item is created, it should appear automatically in the submitted expenses list. The item should appear highlighted in some way in the list to indicate that it was just added. Note: Date entry is a string type; store the data in an appropriate format in the database.
<p><strong>#2: As a user I want to pick from a list of previously submitted categories so that I can save typing. </strong></p>
The category field should be editable, and also show a dynamic (AJAX) popup list of categories that have been previously submitted. If there are no categories, the list should be empty. 
<p>Essentials for the Design and Implementation</p>
<ul>
<li>Use good design practices for the C# classes, ASP.NET web pages, SQL, etc.</li>
<li>(At least 1 stored procedure that performs data retrieval and at least 1 stored procedure that performs data updating) OR (the use of an ORM like Entity Framework)</li>
<li>Use AJAX to populate the category selection list on‐the‐fly. </li>
<li>Use CSS to layout the web page formatting. </li>
</ul>

