﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Expenses Manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/kendo/2013.2.716/kendo") 
        @Styles.Render("~/Content/themes/base/css") 
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <script type="text/javascript">
            var _rootUrl = "@Url.Content("~")";
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Expenses Manager", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Expenses", "Index", "Expense")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div>
                <div class="float-right">
                    <p style="padding-right: 30px">&copy; @DateTime.Now.Year - Expenses Manager</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
